---
import Base from "../layout/Base.astro";
import { supabase } from "../lib/supabase";
import { Reviews, type GuestbookEntry } from "../components/Reviews";

const { email } = Astro.locals;

const { data } = (await supabase
  .from("guestbook")
  .select("name, message")
  .order("created_at", { ascending: false })) as { data: GuestbookEntry[] };
---

<Base title="Panel Principal">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
    <p
      class="max-w-prose text-xl text-indigo-600 dark:text-indigo-400 font-semibold"
    >
      {email}
    </p>
    <p class="max-w-prose text-lg mb-2 dark:text-zinc-100">
      Ya estás dentro! 🎉
    </p>

    <!-- <Reviews reviews={data} client:idle /> -->

    <!-- embed the site http://firmas.firmados.tech/ here with full width and lenght -->
    <iframe
      src="https://firmas.firmados.tech/"
      class="w-full h-screen"
      frameborder="0"></iframe>

    <a
      href="/api/auth/signout"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
      >Sign out</a
    >

  </section>
</Base>
